<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blog Posts</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans antialiased">
    <!---Nav bar--->
    <nav class="bg-green-500 p-4 text-white flex justify-between">
        <a href="/"><h1 class="ml-4 text-3xl font-bold">Blog Generator</h1></a>
        <div>
            <a href="#" class="text-white hover:underline mx-4">Welcome {{ user.username }}</a>
            <a href="/blog-list" class="text-white hover:underline mx-4">Saved Blog Posts</a>
            <a href="/logout" class="text-white hover:underline">Logout</a>
        </div>
    </nav>

    <!--Main-->
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-8 shadow-md rounded-lg w-full max-w-3xl">

            <!--Blog Details-->
            <div class="space-y-4">
                <h2 class="text-xl font-semibold text-center">Blog Post</h2>
                
                <!-- Blog Post 1 -->
                <div class="bg-gray-100 p-4 rounded-md">
                    <h3 class="text-lg font-semibold">{{blog_article.youtube_title}}</h3>
                    <div class="bg-gray-200 p-4 rounded-md">
                        <p class="text-gray-600">{{blog_article.generated_content}}</p>
                    </div>
                    <h4 class="text-lg font-semibold mt-4">Youtube Title</h3>
                    <p class="text-sm text-gray-500">{{blog_article.youtube_title}}</p>
                    <h4 class="text-lg font-semibold mt-4">Youtube link</h3>
                    <a href="{{blog_article.youtube_link}}" class="text-blue-500 hover:underline">{{blog_article.youtube_link}}</a>
                    <!-- Blog Author -->
                    <p class="text-sm text-gray-500">Written by: {{blog_article.user}}</p>
                    <!-- Blog Date -->
                    <p class="text-sm text-gray-500">Date: {{blog_article.created_at}}</p>
                </div>

               
                <!-- Add more blog posts here -->
            </div>
            
            <!-- Back to All Blog Posts Link -->
            <a href="/blog-list" class="block text-center text-blue-500 hover:underline">Back to All Blog Posts</a>
        </div>
    </div>
    <footer class="text-center text-black mt-6">
        Powered by Olutayo Ogunlade
    </footer>
</body>
</html>
