<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans antialiased">
    <!---Nav bar--->
    <nav class="bg-green-500 p-4 text-white flex justify-between">
        <h1 class="ml-4 text-3xl font-bold">Blog Generator</h1>
        <div class="flex space-x-4 mr-4">
            <a href="{% url 'login' %}" class="hover:underline">login</a>
            <a href="{% url 'signup' %}" class="hover:underline">Signup</a>
        </div>
    </nav>

    <!--Main-->
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-8 shadow-md rounded-lg w-full max-w-md">

            <!--Sign Up form-->
            <form class="space-y-4" action="" method="POST">
                {% csrf_token %}

                {% if error_message %}
                <div align="center" style="color: red;">
                    <h2>
                        { error_message }
                    </h2>
                </div>
                {% endif %}
                <h2 class="text-xl font-semibold text-center">Sign Up</h2>
                <div>
                    <label for="username" class="block mb-1 font-medium">Username</label>
                    <input type="text" id="username" placeholder="Enter your username..." name="username" class="border border-gray-300 rounded-md px-4 w-full py-2">
                </div>
                <div>
                    <label for="email" class="block mb-1 font-medium">Email</label>
                    <input type="email" id="email" placeholder="Enter your email..." name="email" class="border border-gray-300 rounded-md px-4 w-full py-2">
                </div>
                <div>
                    <label for="password" class="block mb-1 font-medium">Password</label>
                    <input type="password" id="password" placeholder="Enter your password..." name="password" class="border border-gray-300 rounded-md px-4 w-full py-2">
                </div>
                <div>
                    <label for="confirmPassword" class="block mb-1 font-medium">Confirm Password</label>
                    <input type="password" id="confirmPassword" placeholder="Confirm your password..." name="confirmPassword" class="border border-gray-300 rounded-md px-4 w-full py-2">
                </div>
                <button type="submit" class="bg-green-500 hover:bg-green-400 text-white rounded-md px-4 py-2 transition-colors w-full">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>
